body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background:#08091d;
    font-family: 'Roboto',sans-serif;
}
h2{
    
    color:#fff;
    text-align:center;


    
}
.carousel{
    height:50px;
    perspective:100px;

}
.carousel .carousel-item{
    width:700px;
    height:1000px;
    
    border-radius:50px;

} 
.carousel-caption {
    text-align:center;
    color:#fff;
}
.deal{
    background-color:#0367fe;
    height:60px;
    padding:4px 2px;
    border-radius:50px 0;
}
.deal h5{
     
     font-size:30px;
     margin:0;
}
.deal h3{
     font-size:15px;
     margin:0;
}
.carousel-caption ul{
       list-style:none;  

}
.carousel-caption ul li{
    font-size:12px;
    line-height:2.5;
}
.btn{
    background:#0367fe;
    font-size:20px;
    border:2px solid black;
    border-radius:5px;
}